[user]
	name = Dmitry Safonov
[include]
	path = ~/.gitconfig_node
# credential cache for non-ssh (https) accesses
[credential]
	helper = cache
[color]
	ui = true
[column]
	ui = auto row
	branch = auto row
[diff]
	tool = vimdiff
# launch difftool without a prompt
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[core]
	editor = vim
	abbrev = 12
[log]
	abbrevCommit = true
	decorate = auto
[mergetool]
	prompt = false
	keepBackup = false
[alias]
	contrib = !bash ~/.config/shell/git-contrib.sh
[commit]
	verbose = true
[format]
	signoff = false
[sendemail]
	cccmd = ~/.config/shell/git-cc-cmd.sh
	cccover = false
	suppresscc = body
